@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0deg 0% 100%;
  --foreground: 240deg 6% 10%;
  --popover: 240deg 6% 13%;
  --popover-foreground: 0deg 0% 64%;
  --popover-highlight: 220deg 6% 27%;
  --popover-icon: #acacac;
  --primary: 240deg 6% 10%;
  --primary-foreground: 0deg 0% 100%;
  --accent: 48deg 80% 65;
  --muted: 0deg 0% 90%;
  --muted-foreground: 45deg 24% 25%;
  --destructive: 358 75% 55%;
  --destructive-foreground: 0deg 0% 98%;
  --border: 0deg 0% 93%;
  --ring: 228deg 5% 82%;

  --intentful: light-dark(color-mix(in lch, canvas, canvasText 15%), black);
  --ease: linear(
    0 0%,
    0.6832 7.89%,
    0.9171 11.07%,
    1.0251 12.99%,
    1.1058 14.9%,
    1.1619 16.86%,
    1.1945 18.91%,
    1.2024 20.02%,
    1.2043 21.18%,
    1.1907 23.72%,
    1.1598 26.27%,
    1.0604 32.59%,
    1.0172 35.84%,
    0.9839 39.49%,
    0.967 43.26%,
    0.9639 45.77%,
    0.9661 48.59%,
    0.9963 60.54%,
    1.0054 67.42%,
    1 100%
  );
}

.dark {
  --popover-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.08),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.04),
    0px 2px 3px rgba(0, 0, 0, 0.55), 0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.25);
  --popover-side-shadow: inset 1px 0px 0px rgba(255, 255, 255, 0.08),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.04),
    0px 2px 3px rgba(0, 0, 0, 0.55), 0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.25);
}

@layer utilities {
  .mask-scroll-container {
    mask-image: linear-gradient(
      to left,
      transparent,
      white 25%,
      white 100%,
      transparent 100%
    );
  }
  .pattern {
    background-image: radial-gradient(
        hsl(var(--muted) / 0.6) 1px,
        transparent 1px
      ),
      radial-gradient(hsl(var(--muted) / 0.6) 1px, transparent 1px);
    background-size: 5px 5px;
    background-position: 0 0, 2.5px 2.5px;
    background-color: hsl(var(--background));
  }
}

@layer components {
  .squircle {
    clip-path: polygon(
      100% 50%,
      99.95% 62.53%,
      99.8% 67.7%,
      99.56% 71.64%,
      99.21% 74.93%,
      98.76% 77.79%,
      98.21% 80.34%,
      97.56% 82.63%,
      96.81% 84.7%,
      95.94% 86.6%,
      94.97% 88.33%,
      93.89% 89.92%,
      92.69% 91.37%,
      91.37% 92.69%,
      89.92% 93.89%,
      88.33% 94.97%,
      86.6% 95.94%,
      84.7% 96.81%,
      82.63% 97.56%,
      80.34% 98.21%,
      77.79% 98.76%,
      74.93% 99.21%,
      71.64% 99.56%,
      67.7% 99.8%,
      62.53% 99.95%,
      50% 100%,
      37.47% 99.95%,
      32.3% 99.8%,
      28.36% 99.56%,
      25.07% 99.21%,
      22.21% 98.76%,
      19.66% 98.21%,
      17.37% 97.56%,
      15.3% 96.81%,
      13.4% 95.94%,
      11.67% 94.97%,
      10.08% 93.89%,
      8.63% 92.69%,
      7.31% 91.37%,
      6.11% 89.92%,
      5.03% 88.33%,
      4.06% 86.6%,
      3.19% 84.7%,
      2.44% 82.63%,
      1.79% 80.34%,
      1.24% 77.79%,
      0.79% 74.93%,
      0.44% 71.64%,
      0.2% 67.7%,
      0.05% 62.53%,
      0% 50%,
      0.05% 37.47%,
      0.2% 32.3%,
      0.44% 28.36%,
      0.79% 25.07%,
      1.24% 22.21%,
      1.79% 19.66%,
      2.44% 17.37%,
      3.19% 15.3%,
      4.06% 13.4%,
      5.03% 11.67%,
      6.11% 10.08%,
      7.31% 8.63%,
      8.63% 7.31%,
      10.08% 6.11%,
      11.67% 5.03%,
      13.4% 4.06%,
      15.3% 3.19%,
      17.37% 2.44%,
      19.66% 1.79%,
      22.21% 1.24%,
      25.07% 0.79%,
      28.36% 0.44%,
      32.3% 0.2%,
      37.47% 0.05%,
      50% 0%,
      62.53% 0.05%,
      67.7% 0.2%,
      71.64% 0.44%,
      74.93% 0.79%,
      77.79% 1.24%,
      80.34% 1.79%,
      82.63% 2.44%,
      84.7% 3.19%,
      86.6% 4.06%,
      88.33% 5.03%,
      89.92% 6.11%,
      91.37% 7.31%,
      92.69% 8.63%,
      93.89% 10.08%,
      94.97% 11.67%,
      95.94% 13.4%,
      96.81% 15.3%,
      97.56% 17.37%,
      98.21% 19.66%,
      98.76% 22.21%,
      99.21% 25.07%,
      99.56% 28.36%,
      99.8% 32.3%,
      99.95% 37.47%,
      100% 50%
    );
  }
  td::before {
    content: attr(data-thead) !important;
  }
  [data-chip] {
    --active: 0;
    --intent: 0;
    --selected: hsl(var(--primary));
    --accent: color-mix(in lch, canvasText, canvas 50%);
  }
  [data-chip]:after {
    transition-timing-function: var(--ease);
  }
  .dark [data-chip] {
    --selected: hsl(var(--slate-12));
    --accent: color-mix(in lch, canvasText, canvas 35%);
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-wrap: balance;
}

/* sonner */
:where([data-sonner-toast]) :where([data-title]) {
  line-height: 1.35 !important;
}
[data-sonner-toaster] {
  --mobile-offset: 0 !important;
}
